* {
    margin: 0;
    padding: 0;
}
h2 {
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: greenyellow;
}
/* all about akan styling */
.heading {
    margin-top: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: rgb(63, 14, 177); 
}
body {
    background-image: url("/images/akan.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.paper> p{
    font-family: sans-serif;
}


/* cards styling section */

/* styling the form section */

/* footer styling section */